# Core
pandas
numpy
scipy
requests
joblib

# Bayesian Conjoint
pymc
arviz
scikit-learn

# Demand Forecasting
lightgbm
neuralprophet
dtaidistance
statsmodels

# LP Optimization
pulp

# Frontend Dashboard
streamlit
plotly
uvicorn
watchfiles
